<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Capitalization" value="Monthly" />
    <add key="InterestRate" value="0.05" />
    <add key="Culture" value="da-DK" />
    <add key="LoanCalculationStrategy" value="1" />
    <add key="LoanAdministrationFeeStrategy" value="1" />
    <add key="LoanReportStrategy" value="1" />
  </appSettings>
</configuration>